{% extends "default/layout.html" %}

{% block head %}
<meta charset="utf-8"/>
<title>ADMIN</title>

<link rel="stylesheet" type="text/css" href="../static/styles/admin.css">
{% endblock %}


{% block main %}
<!------------------->
<!-- GENERATE USERS-->
<!------------------->
<div id="alert_placeholder"></div>

<div class="row">
    <div class="col-xl-5 col-lg-7">
        <div class="card shadow mb-4">
            <a href="#facebookCard"
               class="d-block card-header py-3 d-flex flex-row align-items-center justify-content-between" data-toggle="collapse"
               role="button"
               aria-expanded="true" aria-controls="facebookCard">
                <h6 class="m-0 font-weight-bold text-info">Facebook Pages</h6>
            </a>
            <div class="collapse show" id="facebookCard">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table ">
                            <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">ID</th>
                                <th scope="col">Chatbot</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for page in pages %}
                            <tr>
                                <td>{{page.name}}</td>
                                <td><span class="blur">{{page.fb_id}}</span></td>
                                <td>
                                    <select class="custom-select custom-select-sm no-arrow" id="set_chatbot" onchange="link_container.set(this)">
                                        <option data-cont_id="None" data-page_id="{{page.id}}" selected>None</option>
                                        {% for cont in conts %}
                                            {% if page.container_id == cont.id%}
                                                <option data-cont_id="{{cont.id}}" data-page_id="{{page.id}}" selected>{{cont.name}}</option>
                                            {% else %}
                                                <option data-cont_id="{{cont.id}}" data-page_id="{{page.id}}">{{cont.name}}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <a href="#containersCard"
               class="d-block card-header py-3 d-flex flex-row align-items-center justify-content-between" data-toggle="collapse"
               role="button"
               aria-expanded="true" aria-controls="containersCard">
                <h6 class="m-0 font-weight-bold text-info">Chatbots</h6>
            </a>
            <div class="collapse show" id="containersCard">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Docker IP</th>
                                <th scope="col">Commands</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for cont in conts %}
                            <tr>
                                <td>
                                    {% if cont.status %}
                                        <i class="fas fa-arrow-up active_cont"></i>
                                    {% else %}
                                        <i class="fas fa-arrow-down inactive_cont"></i>
                                    {% endif %}
                                    {{cont.name}}
                                </td>
                                <td><span class="blur">{{cont.ip}}</span></td>
                                <td>
                                    {% if cont.status %}
                                        <a href="#"><i class="fas fa-sync-alt" onclick="refreshFlows('{{ cont.ip }}')"></i></a>
                                        <a href="{{ url_for('display_logs', cont_ip=cont.ip)}}"><i class="fas fa-file-alt ml-3"></i></a>
                                    {% else %}
                                        <a>N/A</a>
                                    {% endif %}
                                </td>

                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src='static/scripts/admin.js'></script>


{% endblock %}