{% extends "default/layout.html" %}

{% block head %}
<meta charset="utf-8"/>
<title>Dashboard</title>
<script src='static/scripts/index.js'></script>

<script src=' '></script>
<script src='static/scripts/charts/chart_js.js'></script>
<!-- Apex Charts -->
<script src='static/scripts/charts/apex_charts.js'></script>
<link rel="stylesheet" type="text/css" href="../static/styles/index.css">
<link rel="stylesheet" type="text/css" href="../static/styles/attendance.css">
{% endblock %}

{% block main %}
<!------------------>
<!-- Page Heading -->
<!------------------>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
</div>

{% endblock %}