{% extends "default/layout.html" %}

{% block head %}
<meta charset="utf-8"/>
<title>Logs</title>
{% endblock %}

{% block main %}
<div class="col-12" style="padding: 0;">
    <div class="card shadow" style="margin-left: -15px; margin-right: -15px">
        <div class="d-block card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Logs are Reverted <a class="text-xs text-dark">last entry on first line</a></h6>
        </div>
        <div class="card-body" style='overflow: scroll;'>
            <div style='overflow: scroll;'>
            {% for log in logs %}
                {{ log }}<br>
            {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock %}