.active_cont {
    color: #00FF7F;
}

.inactive_cont {
  color: #DC143C;
}

.blur {
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

.blur:hover {
  filter: blur(0px);
  -webkit-filter: blur(0px);
}