.text-center-pro {
    position: relative;
    text-align: center;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-center-c {
    text-align: center;
}

.data-selected {
    color: white !important;
    background-color: grey;
}

@media screen and (max-width: 450px) {
  .text-center-c {
    text-align: justify;
  }
}