<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/vendor/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../static/vendor/sbadmin2/sb-admin-2.css">
    <title>Register</title>
</head>
<body class="bg-gradient-primary">

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-register-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                                </div>
                                <form class='user' action='/register' data-toggle="validator" id="registration"
                                      method="post">
                                    <fieldset>
                                        <!--{{ form.csrf_token }}-->
                                        <div class="form-group">
                                            {{ form.email(placeholder='Email', class_='form-control
                                            form-control-user',autofocus=true ,
                                            size=32) }}
                                            <div class="help-block with-errors"></div>
                                        </div>
                                        <div class="form-group">
                                            {{ form.password(placeholder='Password', class_='form-control
                                            form-control-user', size=32) }}
                                            <div class="help-block with-errors"></div>
                                        </div>
                                        <div class="form-group">
                                            {{ form.confirm(placeholder='Confirm Password', id='confirm',
                                            class_='form-control form-control-user',
                                            size=32) }}
                                            <div class="help-block with-errors"></div>
                                        </div>
                                        <div class="form-group">
                                            {{ form.register_key(placeholder="Access Key", id='register_key', class_='form-control
                                            form-control-user', size=32, value=register_key) }}
                                            <div class="help-block with-errors"></div>
                                        </div>
                                        <div class="form-group">
                                            {{ form.user_id(id='user_id', class_='form-control', size=32, value=user_id) }}
                                            <div class="help-block with-errors"></div>
                                        </div>
                                        <!-- Change this to a button or input when using this as a form -->
                                        {% for category, message in get_flashed_messages(with_categories=true) %}
                                        <header>
                                            <div class="alert alert-info {{ category }}" role="alert">
                                                {{ message }}
                                            </div>
                                        </header>
                                        {% endfor %}
                                        <hr>
                                        <div class="form-group">
                                            <button class="btn btn-primary btn-user btn-block" type="submit">Register
                                            </button>
                                        </div>
                                        <div class="text-center">
                                            <a class="small" href="{{url_for('login')}}">Already have an account?
                                                Login!</a>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>


<!--------------->
<!-- BOOTSTRAP -->
<!--------------->
<script src="../static/vendor/jquery/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>
<script src="../static/vendor/bootstrap/bootstrap.bundle.js"></script>
<script src="../static/scripts/default/helpers.js"></script>
<!------------------->
<!-- FILE  SPECIFIC-->
<!------------------->
<script src="../static/scripts/default/register.js"></script>
</body>
</html>